.card-taller {
  max-width: 650px;
  width: 100%;
  border-radius: 1.5rem;

  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}

.card-taller {
  animation: fadeInDown 0.5s ease-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
