<div class="cotainer mt-4 text-white">
  <h2 class="mb-4">
    <i class="bi bi-car-front-fill me-2"></i>
    Gestión de vehículos
  </h2>

  <ul class="nav nav-pills mb-4 gap-2">
    <li class="nav-item">
      <button class="nav-link text-white"
              [class.active] = "activeTab === 'mis-vehiculos'"
              (click)="cambiarPestana('mis-vehiculos')">
        <i class="bi bi-person-badge me-1"></i>Mis coches
      </button>
    </li>

    @if(role === 'MANAGER' || role === 'MECHANIC'){
      <li class="nav-item">
        <button class="nav-link text-white"
                [class.active]="activeTab === 'asignados'"
                (click)="cambiarPestana('asignados')">
          <i class="bi bi-wrench me-1"></i> Asignados a mí
        </button>
      </li>
    }

    @if(role === 'MANAGER' || role === 'CO_MANAGER'){
      <li class="nav-item">
        <button class="nav-link text-white"
                [class.active]="activeTab === 'flota'"
                (click)="cambiarPestana('flota')">
          <i class="bi bi-collection me-1"></i>Flota del taller
        </button>
      </li>
    }
  </ul>

  <div class="card shadow-sm p-4" style="border-radius: 15px;">

    @if(activeTab === 'mis-vehiculos'){
      <div class="fade-in">
        <h4 class="text-primary mb-3">Mis vehículos</h4>
        <p class="text-muted">Buscando tus vehículos..</p>
      </div>
    }

    @if(activeTab === 'asignados'){
      <div class="fade-in">
        <h4 class="text-success mb-3">Vehículos en Reparación</h4>
        <p class="text-muted">Buscando vehículos asignados..</p>
      </div>
    }

    @if(activeTab === 'flota'){
      <div class="fade-in">
        <h4 class="text-warning mb-3">Flota total del taller</h4>
        <p class="text-muted">Cargando flota del taller..</p>
      </div>
    }

  </div>
</div>
