<div class="login-layout d-flex flex-column min-vh-100">

  <img class="fondo-difuminado" src="assets/fondoPrincipal.jpg" alt="Fondo taller">

  <div class="content-wrapper container-fluid text-center d-flex flex-column justify-content-center align-items-center flex-grow-1 py-5">

    <img id="logo" src="assets/logo.png" alt="Logo CarLog">

    <h1 class="titulo display-1 text-primary fw-bold">
      <span id="car">CAR</span><span id="log">LOG</span>
    </h1>

    <h4 id="subtitulo" class="text-info fw-bold">Tu taller digital</h4>

    <p class="info mt-3 fw-semibold text-center">
      Registra tus vehículos y sus mantenimientos y olvídate de papeles.<br>
      Lleva el control total en tu ordenador y evita imprevistos.
    </p>

    <div class="container mt-4">
      <div class="row g-4 justify-content-center">

        <div class="col-md-5">
          <div class="h-100 text-white card rounded-5 p-4 d-flex flex-row align-items-center shadow caja">
            <img src="../../../assets/coche_caja.webp" class="me-5 rounded imagen_tarjeta" width="100">
            <span class="text-start">Registra tu vehículo de manera fácil y sencilla</span>
          </div>
        </div>

        <div class="col-md-5">
          <div class="h-100 text-white card rounded-5 p-4 d-flex flex-row align-items-center shadow caja">
            <img src="../../../assets/piezas_caja.jpg" class="me-5 rounded imagen_tarjeta" width="100">
            <span class="text-start">Registra las piezas que desees para tener un seguimiento</span>
          </div>
        </div>

        <div class="col-md-8">
          <div class="text-white card rounded-5 p-4 d-flex flex-row align-items-center shadow justify-content-center caja">
            <img src="../../../assets/alerta_caja.webp" class="me-5 rounded imagen_tarjeta" width="100">
            <span>Automatiza alertas a tu preferencia</span>
          </div>
        </div>

      </div>
    </div>

    <div id="btn-container" class="mt-5">
      <button id="login" class="btn btn-primary me-2 px-4 boton" (click)="openLogin()">Iniciar sesión</button>
      <button id="register" class="btn btn-secondary px-4 boton" (click)="openRegister()">Regístrate</button>
    </div>

  </div>

  <footer id="pie_pagina" class="py-2 border-top mt-auto">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-md-8 col-12 mb-3 mb-md-0">
          <h5 class="text-uppercase fw-bold text-white">Sobre nosotros</h5>
          <p class="small text-white">Texto de ejemplo</p>
        </div>
        <div class="col-md-4 col-12 text-center text-md-end">
          <h5 class="text-uppercase fw-bold text-white">Nuestras redes</h5>
          <div class="d-flex justify-content-center justify-content-md-end gap-3">
            <a href="#" class="text-white fs-3"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-white fs-3"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="text-white fs-3"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

@if(showLogin){
  <div class="modal fade show modal-animado" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-5 shadow-lg p-4 border-0">
        <div class="modal-body text-center">

          <h2 class="display-5 fw-bold mb-1">
            <span style="color: #004E7C;">CAR</span><span style="color: #00AEEF;">LOG</span>
          </h2>
          <h4 class="fw-bold mb-4" style="color: #333;">Iniciar <span style="color: #00AEEF;">Sesión</span></h4>

          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

            <div class="text-start mb-3">
              <label class="fw-bold mb-1" style="color: #0066FF;">Correo electrónico</label>
              <input type="email" class="form-control form-control-lg rounded-4" formControlName="email">
              @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                @if(loginForm.get('email')?.hasError('required')){
                  <small class="text-danger fw-semibold">El correo es obligatorio</small>
                }
                @if(loginForm.get('email')?.hasError('email')){
                  <small class="text-danger fw-semibold">El correo no es válido</small>
                }
              }
            </div>

            <div class="text-start mb-4">
              <label class="fw-bold mb-1" style="color: #0066FF;">Contraseña</label>
              <input type="password" class="form-control form-control-lg rounded-4" formControlName="password">
              @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                @if(loginForm.get('password')?.hasError('required')){
                  <small class="text-danger fw-semibold">La contraseña es obligatoria</small>
                }
                @if(loginForm.get('password')?.hasError('minlength')){
                  <small class="text-danger fw-semibold">Debe tener al menos 6 caracteres</small>
                }
              }
            </div>

            <p class="mb-4 text-muted small">¿No tienes cuenta? <a href="#" (click)="closeLogin(); openRegister(); $event.preventDefault()" class="fw-bold text-decoration-underline" style="color: #00AEEF;">Regístrate.</a></p>

            <button type="submit" class="btn w-100 btn-lg rounded-pill text-white mb-3 fw-bold shadow-sm" style="background-color: #00D4FF;" [disabled]="loginForm.invalid">Acceder</button>
            <button type="button" class="btn w-100 btn-lg rounded-pill text-white fw-bold shadow-sm" style="background-color: #0066FF;" (click)="closeLogin()">Volver</button>
          </form>

        </div>
      </div>
    </div>
  </div>
}

@if (showRegister) {
  <div class="modal fade show modal-animado" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 shadow-lg">
        <div class="modal-header border-0 pb-0">
          <h4 class="modal-title text-primary fw-bold">Crear Cuenta</h4>
          <button type="button" class="btn-close" (click)="closeRegister()"></button>
        </div>
        <div class="modal-body">
          <p class="text-muted mb-4">Únete a CarLog y empieza a gestionar tus vehículos.</p>

          <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

            <div class="text-start mb-3">
              <input type="text" class="form-control form-control-lg rounded-4" formControlName="dni" placeholder="DNI (Ej: 12345678A)">
              @if (registerForm.get('dni')?.invalid && registerForm.get('dni')?.touched) {
                @if (registerForm.get('dni')?.hasError('required')) {
                  <small class="text-danger fw-semibold">El DNI es obligatorio</small>
                }
                @if (registerForm.get('dni')?.hasError('pattern')) {
                  <small class="text-danger fw-semibold">Debe tener 8 números y 1 letra</small>
                }
              }
            </div>

            <div class="text-start mb-3">
              <input type="text" class="form-control form-control-lg rounded-4" formControlName="name" placeholder="Nombre completo">
              @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
                <small class="text-danger fw-semibold">El nombre es obligatorio</small>
              }
            </div>

            <div class="text-start mb-3">
              <input type="email" class="form-control form-control-lg rounded-4" formControlName="email" placeholder="Correo electrónico">
              @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                @if (registerForm.get('email')?.hasError('required')) {
                  <small class="text-danger fw-semibold">El correo es obligatorio</small>
                }
                @if (registerForm.get('email')?.hasError('email')) {
                  <small class="text-danger fw-semibold">El formato no es válido</small>
                }
              }
            </div>

            <div class="text-start mb-3">
              <input type="text" class="form-control form-control-lg rounded-4" formControlName="phone" placeholder="Teléfono">
              @if (registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched) {
                <small class="text-danger fw-semibold">El teléfono es obligatorio</small>
              }
            </div>

            <div class="text-start mb-3">
              <input type="password" class="form-control form-control-lg rounded-4" formControlName="password" placeholder="Contraseña">
              @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                @if (registerForm.get('password')?.hasError('required')) {
                  <small class="text-danger fw-semibold">La contraseña es obligatoria</small>
                }
                @if (registerForm.get('password')?.hasError('minlength')) {
                  <small class="text-danger fw-semibold">Debe tener al menos 6 caracteres</small>
                }
              }
            </div>

            <div class="text-start mb-4">
              <select id="role" formControlName="role" class="form-control form-control-lg rounded-4 text-muted">
                <option value="" disabled selected>Selecciona tu rol...</option>
                <option value="MANAGER">Dueño de taller</option>
                <option value="MECHANIC">Mecánico de taller</option>
                <option value="CLIENT">Cliente</option>
                <option value="DIY">Mecánico por cuenta propia</option>
              </select>
              @if (registerForm.get('role')?.invalid && registerForm.get('role')?.touched) {
                <small class="text-danger fw-semibold">Debes seleccionar un tipo de cuenta</small>
              }
            </div>

            <button type="submit" class="btn btn-info w-100 btn-lg text-white rounded-pill shadow-sm" style="background-color: #00AEEF;" [disabled]="registerForm.invalid">
              Comenzar ahora
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
}

@if (showLogin || showRegister) {
  <div class="modal-backdrop fade show backdrop-animado" (click)="closeLogin(); closeRegister()"></div>
}

</div>
