<div class="container mt-5 text-white">
  <div class="row mb-4">
    <div class="col-12">
      <h2>¡Hola, {{ userName | titlecase }}!</h2>
      @if(role === 'MANAGER' && workshop){
        <p class="text-light">Gestionando el taller: <strong>{{ workshop }}</strong></p>
      } @else {
        <p class="text-light">Bienvenido al panel de control</p>
      }
    </div>
  </div>

  <div class="row g-4">

    <div class="col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm panel-card" [routerLink]="['/dashboard/vehiculos']">
        <div class="card-body text-center d-flex flex-column justify-content-center align-items-center py-5">
          <i class="bi bi-car-front-fill display-4 text-primary mb-3"></i>
          <h4 class="card-title">Mis Vehículos</h4>
          <p class="card-text text-muted">
            @if (role === 'MANAGER'){
              Gestiona la flota actual de tu taller
            } @else {
              Consulta el estado de tus coches
            }
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm panel-card" [routerLink]="['/dashboard/mantenimientos']">
        <div class="card-body text-center d-flex flex-column justify-content-center align-items-center py-5">
          <i class="bi bi-tools display-4 text-success mb-3"></i>
          <h4 class="card-title">mantenimientos</h4>
          <p class="card-text text-muted">Revisa el historial y las próximas revisiones</p>
        </div>
      </div>
    </div>

    @if(role === 'MANAGER'){
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm panel-card" [routerLink]="['/buscar']">
          <div class="card-body text-center d-flex flex-column justify-content-center align-items-center py-5">
            <i class="bi bi-search display-4 text-warning mb-3"></i>
            <h4 class="card-title">Buscar Cliente/Vehiculo</h4>
            <p class="card-text text-muted">Encuentra clientes y registra nuevas entradas</p>
          </div>
        </div>
      </div>
    }

  </div>
</div>
