<div class="modal-overlay" (click)="onCerrar()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="btn-close-modal" (click)="onCerrar()">
      <i class="bi bi-x-lg"></i>
    </button>

    <div class="position-relative bg-light">
      @if (vehiculo().images; as imgs) {
        @if (imgs.length > 0) {
          <div id="carruselVehiculoModal" class="carousel slide" data-bs-ride="carousel">
            @if (imgs.length > 1) {
              <div class="carousel-indicators">
                @for (img of imgs; track $index) {
                  <button
                    type="button"
                    data-bs-target="#carruselVehiculoModal"
                    [attr.data-bs-slide-to]="$index"
                    [class.active]="$index === 0"
                  ></button>
                }
              </div>
            }

            <div class="carousel-inner">
              @for (img of imgs; track $index) {
                <div class="carousel-item" [class.active]="$index === 0">
                  <img
                    [src]="img"
                    class="d-block w-100 object-fit-cover modal-car-img"
                    alt="Foto del vehículo"
                  />
                </div>
              }
            </div>

            @if (imgs.length > 1) {
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carruselVehiculoModal"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon bg-dark rounded-circle p-2"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carruselVehiculoModal"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon bg-dark rounded-circle p-2"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            }
          </div>
        } @else {
          <img
            src="https://placehold.co/600x400?text=Sin+Foto"
            class="w-100 object-fit-cover modal-car-img"
            alt="Sin foto"
          />
        }
      } @else {
        <img
          src="https://placehold.co/600x400?text=Sin+Foto"
          class="w-100 object-fit-cover modal-car-img"
          alt="Sin foto"
        />
      }

      @if (vehiculo().ownerId === currentUserDni()) {}
    </div>
  </div>
</div>
