<div class="layout-wrapper">

  <nav class="sidebar">
    <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i
          [routerLink]="['/dashboard']"
          routerLinkActive ="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="bi bi-house-door-fill"></i>
    </button>
    <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i
          [routerLink]="['/buscar']"
          routerLinkActive ="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="bi bi-search"></i>
    </button>
    <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i
          [routerLink]="['/dashboard/vehiculos']"
          routerLinkActive ="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="bi bi-car-front-fill"></i>
    </button>
    <button
          [routerLink]="['/buscar']"
          routerLinkActive ="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i class="bi bi-tools"></i>
    </button>
  </nav>
</div>
