<nav class="sidebar">
    <!--Botón de home o pantalla principal-->
  <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
    <i
        [routerLink]="['/dashboard']"
        routerLinkActive ="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="bi bi-house-door-fill"></i>
  </button>
    <!--Botón de busqueda-->
  <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
    <i
        [routerLink]="['/buscar']"
        routerLinkActive ="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="bi bi-search"></i>
  </button>
    <!--Botón para carrusel de vehículos-->
  <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
    <i
        [routerLink]="['/dashboard/vehiculos']"
        routerLinkActive ="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="bi bi-car-front-fill"></i>
  </button>
    <!--Botón de acceso a los mantenimientos-->
  <button
        [routerLink]="['/mantenimientos']"
        routerLinkActive ="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="btn w-100 d-flex justify-content-center align-items-center mb-3">
    <i class="bi bi-tools"></i>
  </button>
</nav>
