<div class="layout-wrapper">

  <nav class="sidebar">
    <button [routerLink]="['/dashboard']" class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i class="bi bi-house-door-fill text-black"></i>
    </button>
    <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i class="bi bi-search text-black"></i>
    </button>
    <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i class="bi bi-car-front-fill text-black"></i>
    </button>
    <button class="btn w-100 d-flex justify-content-center align-items-center mb-3">
      <i class="bi bi-tools text-black"></i>
    </button>
  </nav>
</div>
