:host {
  display: block;
  background-color: #00AEEF;
  border-right: 1px solid black;
}

.sidebar {
  width: 80px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;

  position: sticky;
  top:20px
}

.sidebar .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

i {
  color: black;
  transition: color 0.3s ease;
}

.btn.active i{
  color: white;
}
