<footer id="pie_pagina" class="py-2 border-top mt-auto">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-8 col-12 mb-3 mb-md-0">
        <h5 class="text-uppercase fw-bold text-white">Sobre nosotros</h5>
        <p class="small text-white">Texto de ejemplo</p>
      </div>
      <div class="col-md-4 col-12 text-center text-md-end">
        <h5 class="text-uppercase fw-bold text-white">Nuestras redes</h5>
        <div class="d-flex justify-content-center justify-content-md-end gap-3">
          <a href="#" class="text-white fs-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white fs-3"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="text-white fs-3"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
